In [10]:
from pathlib import Path
import os
import pandas as pd

In [20]:
loc = './data/faces/ARCHIVE/identity_CelebA.txt'
df = pd.read_csv(loc, delimiter=' ')

In [21]:
df

              name  label
0       000001.jpg   2880
1       000002.jpg   2937
2       000003.jpg   8692
3       000004.jpg   5805
4       000005.jpg   9295
...            ...    ...
202594  202595.jpg   9761
202595  202596.jpg   7192
202596  202597.jpg   9852
202597  202598.jpg   5570
202598  202599.jpg  10101

[202599 rows x 2 columns]

In [22]:
df = df.sort_values(by=['label'])

In [23]:
df['label'] = df['label'] - 1

In [24]:
df['label'].unique()

array([    0,     1,     2, ..., 10174, 10175, 10176])

In [25]:
df = df.sort_values(by=['name'])

In [ ]:
df

In [27]:
df.to_csv('./data/faces/ARCHIVE/identity_CelebA.txt', index=False,  sep=' ')

              name  label
0       000001.jpg   2879
1       000002.jpg   2936
2       000003.jpg   8691
3       000004.jpg   5804
4       000005.jpg   9294
...            ...    ...
202594  202595.jpg   9760
202595  202596.jpg   7191
202596  202597.jpg   9851
202597  202598.jpg   5569
202598  202599.jpg  10100

[202599 rows x 2 columns]

In [65]:
import glob
import shutil
import os
loc = './data/faces/ARCHIVE/identity_CelebA.txt'
df = pd.read_csv(loc, delimiter=' ')
src_dir = './data/faces/ARCHIVE/img_celeba'
# dst_dir = "your/destination/dir"
files = []
for file in glob.iglob(os.path.join(src_dir, "*.*")):
    files.append(file)
#     shutil.copy(jpgfile, dst_dir)
print(len(files))

202599

In [70]:
dataf = df[df['label'] < 100]
name_list = list(dataf['name'])
len(name_list)

2234

In [71]:
src_dir = './data/faces/ARCHIVE/img_celeba'
dst_dir = './data/faces/ARCHIVE/img_celeba_under_1000'    
for i in name_list:
    shutil.copy(src_dir+'/'+i, dst_dir)

In [72]:
dataf.to_csv('./data/faces/ARCHIVE/identity_CelebA_under_1000.txt', index=False,  sep=' ')